.flex-cont {
  display: flex;
}

.ofw-hidden {
  overflow: hidden;
}

.loading-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding-top: 128px;
}

.msg-icon {
  width: 1.5rem;
  padding-bottom: 6px;
}
