.flex-cont {
  display: flex;
}

.ofw-hidden {
  overflow: hidden;
}

.loading-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 128px;
}
.loading-msg > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

img.msg-icon {
  width: 1.5rem;
  padding-right: 6px;
}
